@model IEnumerable<WebApplication1.Models.TblCentroRedSocial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RedSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCentroNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRedSocialNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RedSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCentroNavigation.IdCentro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRedSocialNavigation.IdRedSocial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
